body{
    background-image: url(https://bit.ly/2HCYYX2);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 45px;
    color: white;
    text-decoration: underline;

}
.form-group{

    color:white;
}
label{
    font-size: 25px;
}
p{
    color: white;
    font-size: 25px;
}